# Ignore Builds Directory
build/**
MAL Updater OS X.xcodeproj/project.xcworkspace/xcuserdata/**
.DS_Store
Frameworks/.DS_Store
.idea/**
MAL Updater OS X.xcodeproj/ashe.pbxuser
MAL Updater OS X.xcodeproj/ashe.perspectivev3
MAL Updater OS XTests/DonationKeyConstants.m
TwitterConstants.m
MAL Updater OS X.xcodeproj/xcuserdata/takanashirikka.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Frameworks/TorrentBrowser.framework.dSYM/**
Frameworks/TorrentBrowser.framework
Frameworks/Legacy/TorrentBrowser.framework/**
Frameworks/Legacy/TorrentBrowser.framework
Frameworks/TorrentBrowser.framework/**
ClientConstants.m
Frameworks/DonationCheck_KeyOnly.framework.dSYM
Frameworks/DonationCheck_KeyOnly.framework
Frameworks/DonationCheck_KeyOnly.framework.dSYM/**
Frameworks/DonationCheck_KeyOnly.framework/**
