# Ignore Builds Directory
build/**

TwitterOAuthKeys.m

MAL Updater OS X.xcodeproj/project.xcworkspace/xcuserdata/**
.DS_Store
Frameworks/.DS_Store
.idea/**
MAL Updater OS X.xcodeproj/ashe.pbxuser
MAL Updater OS X.xcodeproj/ashe.perspectivev3
MAL Updater OS XTests/DonationKeyConstants.m
TwitterConstants.m
Frameworks/TorrentBrowser.framework.dSYM/**
Frameworks/TorrentBrowser.framework/**

MAL Updater OS X.xcodeproj/xcuserdata/takanashirikka.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ClientConstants.m